<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./bootstrap.css">
    <link rel="stylesheet" href="./bootstrap.min.css">
</head>
<body style="display: block">
    <div>
        <h2>Nombre de equipo</h2>
        <p>nombres del equipo</p>
        <p>descripcion aaaaaaaaaaaaaaaaaaaaaaaaa</p>

    </div>
    <embed src="../pdffiles/file.pdf" type="application/pdf" width="60%" height="600px" />
    <iframe width="100" height="56" src="https://www.youtube.com/embed/iwaUan_AA2A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>
</html>