<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TyC_PonTic</title>
    <link rel="stylesheet" href="css/Tyc.css">
</head>

<body>
    <header class="main-header dark-theme">

        <ul class="header-options">
            <li class="title"> TÉRMINOS Y CONDICIONES PONTIC </li>
        </ul>

    </header>

    <header class="header-mobile dark-theme">
        <h3 class="title-mobile"> beCoditive API </h3>
    </header>

    <section id="terms-of-service">
        <div class="card">
            <h1 class="primary-heading">Términos y condiciones</h1>
            <p class="paragraph">
                <span class="bold">1)</span> Puede hacer uso de los Servicios solo si accede a firmar un contrato vinculante con <span class="bold">PonTic</span> Si acepta estos Términos y usa los Servicios en nombre de una empresa, organización, gobierno
                u otra entidad jurídica, afirma y garantiza que está autorizado a hacerlo y cuenta con los poderes necesarios para obligarla al cumplimiento de estos Términos, en cuyo caso el uso de las palabras "usted", "su" y "sus" en estos Términos
                hará referencia a dicha entidad jurídica.
                <br><br><br>
                <span class="bold">2)</span> Nuestra política de privacidad de datos, está regido bajo la Ley <span class="bold">1586</span> de <span class="bold">2012</span> donde: se Reconoce y protege el derecho que tienen todas las personas a conocer,
                actualizar y rectificar las informaciones que se hayan recogido sobre ellas en bases de datos o archivos que sean susceptibles de tratamiento por entidades de naturaleza pública o privada.
                <br> Puede consultarla acá: <a class="linkpdd" href="https://www.minambiente.gov.co/politica-de-proteccion-de-datos-personales/#:~:text=Ley%20de%20Protecci%C3%B3n%20de%20Datos,de%20naturaleza%20p%C3%BAblica%20o%20privada.">Ley proyección de datos Colombia</a>
                <br><br><br>
                <span class="bold">3)</span>Usted es responsable de su uso de los Servicios y de cualquier Contenido que proporcione, incluyendo el cumplimiento con las leyes, reglas y normas aplicables. Solo debe proporcionarnos contenido que desee compartir
                con otros. Cualquier confianza que deposite en cualquier Contenido o material publicado por medio de los Servicios u obtenido mediante los mismos, o cualquier uso que haga de ellos, lo hace por su propia cuenta y riesgo. No ratificamos,
                apoyamos, reafirmamos ni garantizamos la compleción, veracidad, precisión o fiabilidad de ningún Contenido o comunicación publicada por medio de los Servicios, ni ratificamos ninguna opinión expresada por medio de los Servicios. Comprende
                que al hacer uso de los Servicios, puede exponerse a Contenido que puede resultar ofensivo, dañino, inexacto o inapropiado de cualquier otra forma, o en algunos casos, a publicaciones que puedan haber sido interpretadas erróneamente o
                que puedan ser engañosas de cualquier otra forma. Todo el Contenido es responsabilidad única de la persona que lo produce. No monitorizamos ni controlamos el Contenido publicado por medio de los Servicios, y no podemos hacernos responsables
                de dicho Contenido.
                <br><br> Nos reservamos el derecho a retirar Contenido que incumpla el Acuerdo de usuario, como por ejemplo, violaciones de derechos de autor o de marcas comerciales o cualesquiera otros usos indebidos de propiedad intelectual, suplantación
                de identidad, conducta ilícita o acoso.
                <br><br><br>
                <span class="bold">4)</span>Puede necesitar crear una cuenta para usar alguno de nuestros Servicios. Usted es responsable de la seguridad de su cuenta, por lo que debe usar una contraseña fuerte y limitar su uso a esta cuenta. No podemos
                ser considerados responsables, ni lo seremos, de ninguna pérdida o daño derivado de su incumplimiento de las anteriores condiciones.
                <br><br><br>
                <span class="bold">5)</span>Podremos suspender o cesar a su cuenta, o bien dejar de suministrarle todos o parte de los Servicios, en cualquier momento y por cualquier motivo, o sin motivo.
            </p>
        </div>
    </section>
    <footer>
        <p class="footer-heading">© Copyright 2022 PonTic.<br>Todos los derechos reservados.</p>
    </footer>
</body>

</html>