<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPostNow Privacidad y Términos</title>
</head>
<body>
    <header>
        <div>
            <h1>UPostNow Privacidad y Términos</h1>
            <h2><i>Política de Privacidad de UPN</i></h2>
            <h3>Al utilizar nuestros servicios, nos confías tus datos. Entendemos que es una gran responsabilidad y nos esforzamos al máximo para proteger tu información y permitirte controlarla.</h3>
            <p>El objetivo de esta Política de Privacidad es informarte sobre qué datos recogemos, por qué los recogemos y cómo puedes actualizarlos, gestionarlos, exportarlos y eliminarlos.</p>
            <p>A continuación, se presenta un listado de los servicios que incluye UPN:</p>
            <ul>
                <li>Sitio web y búsqueda de UPN.</li>
                <li>Página para la creación y publicación de iniciativas.</li>
                <li>Cuenta con o sin vinculación UPN para navegar por la página UPN.</li>
            </ul>
            <p>
                Puedes utilizar nuestros servicios de diferentes formas para gestionar tu privacidad. Por ejemplo, si quieres crear, publicar, comentar o calificar iniciativas, puedes registrarte para obtener una cuenta de UPN. Asimismo, puedes utilizar muchos servicios de UPN sin iniciar sesión en tu cuenta o sin haber creado una cuenta (por ejemplo, hacer una búsqueda en UPN o ver iniciativas en la página oficial).
                <br><br>Si tienes alguna pregunta sobre esta Política de Privacidad, puedes ponerte en contacto con nosotros al correo: cupp1cake55@gmail.com o juan.adames.2004@gmail.com.
            </p>            
        </div>
        <div>
            <h2><i>Información que recoge UPN</i></h2>
            <h3>Queremos informarte del tipo de datos que recogemos cuando utilizas nuestros servicios.</h3>
            <p>Recogemos información para proporcionar los mejores servicios a todos nuestros usuarios: determinar información básica. El tipo de información que recoge UPN y cómo se utiliza esa información depende del uso que hagas de nuestros servicios y de cómo administres los controles de privacidad.</p>
            <p>Si has iniciado sesión, recogemos información que almacenamos en tu cuenta de UPN y que tratamos como información personal: Información proporcionada por los usuarios que permite identificarles personalmente, como el nombre o la dirección de correo electrónico, así como cualquier otro tipo de dato que UPN pueda relacionar de manera razonable con dicha información como, por ejemplo, los datos asociados a su cuenta de UPN.</p>
            <p>Nuestra política de privacidad de datos está regida bajo la <a href="https://www.minambiente.gov.co/politica-de-proteccion-de-datos-personales/#:~:text=Ley%20de%20Protecci%C3%B3n%20de%20Datos,de%20naturaleza%20p%C3%BAblica%20o%20privada">ley de protección de datos personales o ley 1581 de 2012</a> donde: se reconoce y protege el derecho que tienen todas las personas a conocer, actualizar y rectificar las informaciones que se hayan recogido sobre ellas en bases de datos o archivos que sean susceptibles de tratamiento por entidades de naturaleza pública o privada.</p>
        </div>
        <div>
            <h2><i>Proteger tu información</i></h2>
            <h3>Integramos la seguridad en nuestros servicios para proteger la información de nuestros usuarios.</h3>
            <p>El sitio web de UPN incluyen funciones de seguridad sólidas que protegen constantemente tu información. Mantener nuestros servicios nos ofrece información que nos ayuda a detectar y bloquear automáticamente amenazas de seguridad para que nunca te afecten.</p>
            <p>Nos esforzamos al máximo por proteger a UPN y a nuestros usuarios de cualquier alteración, divulgación o destrucción no autorizadas de los datos que conservamos o del acceso no autorizado a esta información. Para ello:</p>
            <ul>
                <li>Utilizamos cifrado con el objetivo de mantener la privacidad de los datos de los usuarios mientras están en tránsito.</li>
                <li>Revisamos nuestras prácticas de recogida, almacenamiento y tratamiento de datos (incluidas las medidas de seguridad físicas) para evitar el acceso no autorizado a nuestros sistemas.</li>
                <li>Restringimos el acceso a la información personal para que solo puedan acceder a ella aquellos administradores y coordinadores de UPN que necesitan dicha información para procesarla. Todos los que tengan acceso a esta información están sujetos a estrictas obligaciones contractuales de confidencialidad y pueden ser sancionados o despedidos si no las cumplen.</li>
            </ul>
        </div>
        <div>
            <h2><i>Editar y eliminar tu información</i></h2>
            <h3>Puedes editar tu información o eliminarla de tu cuenta de UPN en cualquier momento, dando cumplimiento al derecho de Habeas Data.</h3>
            <p>Para editar o eliminar tu información, puedes:</p>
            <ul>
                <li>Editar tu perfil en la ventana de edición.</li>
                <li>Eliminar información en la ventana de edición que consideres no vayas a usar.</li>
                <li>Eliminar tu cuenta de UPN por completo.</li>
            </ul>
        </div>
        <div>
            <h2><i>Normativa:</i></h2>
            <ul>
                <li>No criticar u ofender a los autores que hagan públicas sus iniciativas.</li>
                <li>No hacer comentarios ofensivos, racistas, misóginos, etc. Que afecten la experiencia de usuario de otros usuarios.</li>
                <li>No publicar información privada de otros usuarios sin su consentimiento.</li>
            </ul>
            <p><b>Al aceptar nuestra política de privacidad de UPN, nos permites poder eliminar cualquier información que haya sido brindada por el cliente, ya sea un comentario, calificación o cuenta que infrinja con la normativa de la página.</b></p>
        </div>
    </header>
</body>
</html>