/*{
    border: 1px solid #333333;
}*/
.iniciar{
    border: 1px solid #333333;
    margin-top: 5%;
    height: 65%;
    width: 35%;
}
.btn_inic{
    margin-top: 20px;
}

.ideas{
    display: block;
    margin-left: 23%;
}
.pag{
    margin-left: 30%;
}

.form_mid{
    margin-left: 30%;
}
.idea{
    margin-left: 10%;
}
.caja_ideas{
    border: 1px solid #333333;
}
.comentarios{
    position: relative;
    width: 40%;
}